.ElysianContentHeader{
    border-bottom:solid 1px #F5B0E5;
    background:#F5D4E5;
    padding:15px;
    padding-left:25px;
}

.ElysianContentHeader h3{
    padding:0;
    margin:0;
    color:#825D7A;
    font-weight: normal;
}