html,body{
  overflow-x:hidden;
}

.Cornerless{
  border-radius:0px!important;
}

.ElysianCanvas{
  position:fixed;
  width:auto;
  height:auto;
}

.ElysianContent{
  position:absolute;
  z-index:8;
  top:100px;
  height:100%;
  left:5%;
  width:90%;
  margin:0 auto;
}

.ElysianInfoSlides{
  position:absolute;
  z-index:8;
  top:100px;
  height:100%;
  left:5%;
  width:1000%;
  margin:0 auto;
}